body{
    font-family: serif;
    background-color: lightgray;
}

h1,h2, h3{
    font-family: sans-serif;
}

header{
    color: salmon;
    text-align: center;
    padding: 1em;
    background-color: white;
}

#container{
    margin: auto;
    width: 50%;
    
}

article{
    margin-top: 1em;
    padding: 1em;
    margin-bottom: .3em;
    background-color: white;
}

p{
    margin-bottom: .3em;
}

.post-head{
    margin-bottom: .3em;
    padding: 1em;
    border-bottom: grey 1px solid;
}

footer{
    text-align: center;
}

